* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

body {
    background: #158bb8;
}

#wrapper {
    width: 100vw;
    height: 100vh;
    /* border: 1px solid #fff; */
}

#container {
    display: inline-block;
    width: 1920px;
    height: 1080px;
    position: absolute;
    transform-origin: 0 0;
    left: 50%;
    top: 50%;

    display: grid;

    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;

    gap: 16px;
    padding: 64px 16px;

    transition: all ease-in-out 0.25s;
}

.grid-item {
    padding: 16px;
    background-color: transparent !important;
}

.box {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 3px solid #fff;
    transition: all ease-in-out .25s;
}

.box:hover {
    box-shadow: 1px 1px 10px 10px rgba(255, 255, 255, .5);
}

#item-0 {

    background-color: #57D776;
    grid-row-start: 1;
    grid-column-start: 1;

    grid-row-end: 3;
    grid-column-end: 3;

}

#item-1 {

    background-color: #D76DBD;
    grid-row-start: 1;
    grid-column-start: 3;

    grid-row-end: 2;
    grid-column-end: 5;

}

#item-2 {

    background-color: #6996F9;
    grid-row-start: 2;
    grid-column-start: 3;

    grid-row-end: 3;
    grid-column-end: 5;

}

#item-3 {

    background-color: #CBC96B;
    grid-row-start: 3;
    grid-column-start: 1;

    grid-row-end: 4;
    grid-column-end: 2;

}

#item-4 {

    background-color: #8DE8AC;
    grid-row-start: 3;
    grid-column-start: 2;

    grid-row-end: 4;
    grid-column-end: 3;

}

#item-5 {

    background-color: #BFB79B;
    grid-row-start: 3;
    grid-column-start: 3;

    grid-row-end: 4;
    grid-column-end: 4;

}

#item-6 {

    background-color: #E97A6D;
    grid-row-start: 3;
    grid-column-start: 4;

    grid-row-end: 4;
    grid-column-end: 5;

}

#item-7 {

    background-color: #996EBA;
    grid-row-start: 1;
    grid-column-start: 5;

    grid-row-end: 2;
    grid-column-end: 7;

}

#item-8 {

    background-color: #A9B6F7;
    grid-row-start: 2;
    grid-column-start: 5;

    grid-row-end: 3;
    grid-column-end: 7;

}

#item-9 {

    background-color: #6A8B9B;
    grid-row-start: 3;
    grid-column-start: 5;

    grid-row-end: 4;
    grid-column-end: 7;

}