/* @import url(./flipTimer.css); */
/* @import url(./player.css); */
/* @import url(./photo.css); */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

::-webkit-scrollbar {
    display: none;
}

body {
    /* background: #158bb8; */
    background: linear-gradient(to top right, #fc00ff, #00dbde);
    font-family: PingFang SC, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #fff;
}

#wrapper {
    width: 100vw;
    height: 100vh;
    /* border: 1px solid #fff; */
}

#container {
    display: inline-block;
    width: 1920px;
    height: 1080px;
    position: absolute;
    transform-origin: 0 0;
    left: 50%;
    top: 50%;

    display: grid;

    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;

    gap: 16px;
    padding: 64px 16px;

    /* transition: all linear 0.25s; */
}

.grid-item {
    padding: 16px;
    background-color: transparent !important;
}

.box {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    /* border: 3px solid #fff; */
    background-color: rgba(255, 255, 255, .3);
    backdrop-filter: blur(5px);
    padding: 8px;
    transition: all linear .25s;
}

.box:hover {
    box-shadow: 1px 1px 10px 10px rgba(255, 255, 255, .5);
}

#item-0 {
    background-color: #57D776;
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-column-end: 3;
}

#profileContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    font-size: 20px;
    padding: 10px 40px;
    color: #eee;
    font-weight: bold;
}

#avatar {
    width: 300px;
    height: 300px;
    border: 10px solid #fff;
    padding: 7px;
    box-shadow: 20px 20px 30px 10px rgba(0, 0, 0, 0.1),
        10px 10px 30px 7px rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    margin-bottom: 20px;
    position: relative;
}

#avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

#status {
    position: absolute;
    border-radius: 50%;
    background-color: #ccc;
    border: 3px solid #fff;
    padding: 5px;
    width: 50px;
    height: 50px;
    left: 80%;
    top: 80%;
    font-size: 30px;
    color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
}

#name {
    color: #fff;
    font-size: 48px;
    text-shadow: 5px 5px 10px rgba(65, 65, 65, 0.5);
}

#motto {
    font-size: 24px;
    margin-bottom: 10px;
}

#profileContainer a:hover {
    color: #fff;
    text-decoration: underline;
}

#profileContainer i {
    width: 30px;
    margin-right: 10px;
    text-align: center;
}

#item-1 {
    background-color: #D76DBD;
    grid-row-start: 1;
    grid-column-start: 3;
    grid-row-end: 2;
    grid-column-end: 5;
}

#flipTimerContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#date {
    font-size: 28px;
    text-shadow: 5px 5px 10px rgba(65, 65, 65, 0.5);
}

#item-2 {
    background-color: #6996F9;
    grid-row-start: 1;
    grid-column-start: 5;
    grid-row-end: 2;
    grid-column-end: 7;
}

#playerContainer {
    display: flex;
    align-items: flex-end;
}

#item-3 {
    background-color: #CBC96B;
    grid-row-start: 2;
    grid-column-start: 3;
    grid-row-end: 3;
    grid-column-end: 5;
}

#item-4 {
    background-color: #8DE8AC;
    grid-row-start: 2;
    grid-column-start: 5;
    grid-row-end: 3;
    grid-column-end: 7;
}

#photoContainer {
    display: flex;
    align-items: center;
    height: 100%;
}

#item-5 {
    background-color: #996EBA;
    grid-row-start: 3;
    grid-column-start: 1;
    grid-row-end: 4;
    grid-column-end: 2;
}

#item-6 {
    background-color: #A9B6F7;
    grid-row-start: 3;
    grid-column-start: 2;
    grid-row-end: 4;
    grid-column-end: 3;
}

#item-7 {
    background-color: #BFB79B;
    grid-row-start: 3;
    grid-column-start: 3;
    grid-row-end: 4;
    grid-column-end: 4;
}

#item-8 {
    background-color: #E97A6D;
    grid-row-start: 3;
    grid-column-start: 4;
    grid-row-end: 4;
    grid-column-end: 5;
}

#item-9 {
    background-color: #6A8B9B;
    grid-row-start: 3;
    grid-column-start: 5;
    grid-row-end: 4;
    grid-column-end: 7;
}