@import url(./solid.css);
@import url(./fontawesome.css);

*:focus {
    outline: none;
}

#player {
    position: relative;
    width: 100%;
    height: 120px;
    z-index: 3;
}

#player-track {
    visibility: hidden;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    right: 20px;
    left: 20px;
    height: 120px;
    padding: 10px 25px 10px 170px;
    background-color: rgba(255, 255, 255, .7);
    backdrop-filter: blur(10px);
    border-radius: 15px 15px 0 0;
    transition: .25s linear all;
    z-index: 1;
}

#player-track.active {
    visibility: visible;
    transform: translateY(-120px);
}

#album-name {
    color: #333;
    font-size: 24px;
    font-weight: bold;
}

#singerName {
    font-size: 16px;
    color: #aaa;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#track-time {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: bold;
    color: #4c8bea;
    transition: .25s linear all;
}

#s-area,
#seek-bar {
    position: relative;
    height: 7px;
    border-radius: 7px;
}

#s-area {
    background-color: #8dbbe3;
    cursor: pointer;
}

#ins-time {
    position: absolute;
    transform: translate(-50%, -30px);
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    white-space: pre;
    padding: 5px 6px;
    border-radius: 4px;
    display: none;
}

#s-hover {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    opacity: 0.2;
    z-index: 2;
}

#ins-time,
#s-hover {
    background-color: #333;
}

#seek-bar {
    background-color: #4c8bea;
    transition: .25s linear width;
}

#player-content {
    position: relative;
    height: 100%;
    background-color: #fff;
    box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, .3);
    border-radius: 15px;
    z-index: 2;
    padding: 16px;
}

#album-art {
    position: absolute;
    top: -40px;
    left: 40px;
    width: 120px;
    height: 120px;
    -webkit-transform: rotateZ(0);
    transform: rotateZ(0);
    transition: 0.3s ease all;
    border: 5px solid #d6dee7;
    box-shadow: 3px 3px 20px 0 rgba(51, 51, 51, .7);
    border-radius: 50%;
    overflow: hidden;
}

#album-art.active {
    top: -60px;
    border: 20px solid #333;
    box-shadow: 0 0 0 7px #ccc, 0 30px 50px -15px #afb7c1;
}

#album-art img {
    width: 100%;
    height: 100%;
    transition: .25s linear all;
}

#album-art.active img.active {
    -webkit-animation: rotateAlbumArt 5s linear 0s infinite forwards;
    animation: rotateAlbumArt 5s linear 0s infinite forwards;
}

@-webkit-keyframes rotateAlbumArt {
    0% {
        -webkit-transform: rotateZ(0);
        transform: rotateZ(0);
    }

    100% {
        -webkit-transform: rotateZ(360deg);
        transform: rotateZ(360deg);
    }
}

@keyframes rotateAlbumArt {
    0% {
        -webkit-transform: rotateZ(0);
        transform: rotateZ(0);
    }

    100% {
        -webkit-transform: rotateZ(360deg);
        transform: rotateZ(360deg);
    }
}

#player-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    height: 100%;
    margin-left: 32%;
}

.button {
    padding: 24px;
    border-radius: 12px;
    cursor: pointer;
    transition: .25s ease all;
}

.button i {
    color: #d6dee7;
    font-size: 32px;
    text-align: center;
    transition: .25s ease all;
}

.button:hover {
    background-color: #d6d6de;
}

.button:hover i {
    color: #337eee;
}